
html{
    height: calc(100% - 20px);
    margin-bottom: 0px;
}
body{
    margin: 20px;
    min-height: 400px;
    background: linear-gradient(30deg, #dcfede 0%, #9df5f5 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    padding: 10px;
    width: 200px;
}


.input-line{
    display: flex;
}

.input-field{
    padding: 8px;
    flex: 1 1 70%;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
    transition: outline 0.2s ease-out;
    border: 1px solid #FE80FE;
    outline: 1px solid #FE80FE;
    font-family: 'Roboto Mono', monospace;
}

input[type=text]:focus{
    outline-width: 2px;
}

.button-line{
    border: none;
    background: none;
    box-sizing: border-box;
}

.fa-circle-xmark, .fa-bookmark{
    flex: 0 0 5%;
    z-index: -1;
    translate: 2px -5px;
    box-sizing: border-box;
    padding: 5px;
}

.button-field, .button-c{
    display: none;
}

.button-field:hover{
    background-color: rgb(252, 169, 252);
    font-size: 16px;
}

.list{
    margin: 0px;
    list-style: none;
    padding-left: 0px;
    position: relative;
    top:-20px;

}

.list li{
    padding: 10px;
}

.list li a{
    color: black;
    font-family: 'Roboto Mono',monospace;
    text-decoration: none;
}
